/* src/components/ChangePassword.css */
.custom-label {
    text-align: left;
    display: block;
    margin-bottom: 0.5em;
  }
  
  .ui.form .field {
    margin-bottom: 1em;
  }
  
  .ui.form .field input {
    width: 100%;
  }
  