/* Login page background */
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0; /* Fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Limitando el ancho de la columna */
  .login-column {
    max-width: 450px;
    margin: auto; /* Centra la columna horizontalmente */
    background-color: #ffffff; /* Fondo blanco */
    padding: 2em; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Centrado vertical */
  .ui.middle.aligned.center.aligned.grid.login-grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el formulario tome todo el ancho disponible */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
  }
  
  /* Ajuste para el formulario */
  .ui.large.form.login-form {
    width: 100%; /* Asegura que el formulario tome todo el ancho disponible */
  }
  
  /* Espaciado adicional */
  .ui.stacked.secondary.segment.login-inputs {
    padding: 2em; /* Añade padding para un mejor espaciado interno */
    border: none; /* Elimina bordes */
    box-shadow: none; /* Elimina sombras */
  }
  
  /* Logo y texto centrados */
  .login-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-logo {
    width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
  }
  
  .login-logo-text {
    font-size: 25px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold;
    margin-top: 10px;
    color: #333; /* Color del texto */
  }
  
  .login-header {
    color: #333; /* Color del texto del encabezado */
    text-align: center; /* Centrar el encabezado */
  }
  
  .ui.message {
    text-align: center; /* Centrar el mensaje */
    background-color: #f9f9f9; /* Fondo claro para el mensaje */
    border: none; /* Eliminar borde */
    box-shadow: none; /* Eliminar sombra */
  }
  
  /* Elimina el fondo global del body y html */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  